@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300&family=Roboto:wght@300;500;700&display=swap');
.fundo{
    background-image: url(../Img/fundoCinza.jpg) ;

}
*{
    margin: 0%;
}

.row{
    margin: 0%;
}
.fonte{
    line-height: 1.5;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}