@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Serif:ital@0;1&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* modal*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Slab:wght@300&family=Roboto:wght@300;500;700&display=swap');
/* modal  */

@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@600&display=swap');

*{
    margin: 0%;
    padding: 0%;
}

.imagisobre{
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagisobre img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Signika Negative', sans-serif;
    text-transform: uppercase;
}

.title h1{
    font-size: 1.9em;
}

.container-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.conteudotxt{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 200px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.container-sobre  .conteudotxt h2{
    font-weight:none;
    font-size: 1.2em;
}

.section{
    height: calc(100vh - 41.29vh);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

@media (max-width:1200px)
{
    .imagisobre{
        padding-top: none;
        width: none;
        height: none;
        display: none;
        align-items: none;
        justify-content: none;
    }
    
    .imagisobre img{
        display: none;
        justify-content: none;
        align-items: none;
        width: none;
        height: none;
    }
}

@media (max-width: 850px){
    .section{
        height: calc(100vh);
        display: flex;
        flex-direction: row;
    }
    
}

@media (max-width: 650px){
    .section{
        height: 700px;
        display: flex;
        flex-direction: row;
    }
    
    .conteudotxt{
        padding: 0;        
    }
    .container-sobre{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}