@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
  display: grid;
  grid-template-rows: 100vh;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e2e2e2f3;
}

.form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #eee;
  width: 550px;
  padding: 20px;
  height: 600px;
  border-radius: 20px;
}

.form-image{
  display: flex;
  justify-content: center;
  width: 150px;
  height: 200px;
  padding-bottom: 50px;
}

form{
  display: block;
  width: 80%;
}
.form-header{
  padding-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group .input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid #ff6363;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-around;
  margin-top: 0.62rem;
  padding: 0 .5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.continue-button {
  width: 100%;
  margin-top: 2.5rem;
  border: none;
  background-color: #ff6363;
  padding: 0.62rem;
  border-radius: 5px;
  cursor: pointer;
}

.continue-button:hover {
  background-color: #ff6363f1;
}

.continue-button {
  text-decoration: none;
  font-size: 0.93rem;
  font-weight: 500;
  color: #fff;
}

.login-button {
  display: flex;
  align-items: center;
}

.login-button button {
  border: none;
  background-color: #ff6363;
  padding: 0.4rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button button:hover {
  background-color: #ff6363f1;
}

.login-button button a {
  text-decoration: none;
  font-weight: 500;
  color: #fff;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: #ff6363;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}

@media screen and (max-width: 1330px) {
  .container {
      width: 50%;
  }
  .form {
      width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
      width: 100%;
      height: auto;
  }
  .input-group {
      flex-direction: column;
      z-index: 5;
      padding-right: 5rem;
      max-height: 10rem;
      overflow-y: scroll;
      flex-wrap: nowrap;
  }
  .gender-inputs {
      margin-top: 2rem;
  }
  .gender-group {
      flex-direction: column;
  }
  .gender-title h6 {
      margin: 0;
  }
  .gender-input {
      margin-top: 0.5rem;
  }
}