.col3{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    grid-template-rows: calc(100vh - 26vh);
    padding-left: 100px;
    padding-right: 100px;
}

.alinha{
    display: flex;
    justify-content: center;
    align-items: center;
}


.col3 .card{
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px 400px;
    justify-content: center;
    background-color: #eee;
    width: 300px;
    height: 500px;
    border-radius: 20px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1.0em;
    text-transform: uppercase;
}

.conteudos{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
}

.texto{
    display: flex;
    padding-left: 20px;
    justify-content: left;
    align-items: center;
}