.col1{
    padding-left: 100px;
    padding-right: 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px;
}

.col1 div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col1 div img{
    padding-top: 20px;
    width: 55px;
    height: 50px;
}
.assunto1{
    display: grid;
    grid-column-start: 2;
}

.col1 .ajte{
    display: flex;
    flex-direction: column !important;
    justify-content: center;
}